
<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Metodo:</td>
  <dd>{{ getHeroDescription() }}</dd>  <!mande a llamar () la invocacion de una funcion.!>
  <td>Capitazado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
 (click)="changeHero()"
 class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button (click)="changeAge()" class="btn btn-primary"> <! cambiar la edad haciendo click llamo al metodo changeAge!>
  Cambiar edad
</button>
